.container {
    max-width: 800px;
    margin: auto;
    background-color: rgb(5, 1, 80);
  }
  
  .mt-4 {
    margin-top: 1.5rem;
  }

  h1{
    font-size: 40px;
    color: #851a28;
    align-items: center;
    text-align: center;
    

  }

  h2 {
    font-size: 18px; /* Set the font size for h2 elements */
  }

  .form-label {
    color: antiquewhite;
    font-size: 30px; /* Set the font size for form labels */
  }
  
  
  /* Style for the Card component */
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the Explore button */
  .btn-primary {
    background-color: #ffa586;
    border-color: #007bff;
  }
  
  /* Style for the Map image */
  .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(216, 100, 100, 0.1);
  }

  body {
    background-color: #384358; /* Set the background color for the entire page */
  }
